@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;	
}
h1, h2, h3, h4, h5, .btn {
	font-family: 'Scada', sans-serif;
}
.pink {
	background-color: #fa92e5;
	color: #fff;	
}
.orange {
	background-color: #ea9425;	
	color: #fff;	
}
.green {
	background-color: #14c44e;
	color: #fff;		
}
.green .btn {
	color: #14c44e;
}
.orange .btn {
	color: #ea9425;
}
.pink .btn {
	color: #fa92e5;
}
#masthead .btn {
	color: #2180a7;
}
.btn-default {
	border-radius: 0px;
	padding: 7px 15px;
	background: none;
	background-color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	text-shadow: none;	
	border: none;
}

#header {
	padding-top: 30px;	
	padding-bottom: 30px;	
}
#masthead {
	background-color: #3399cc;
	background-image:url(../img/mast-1.png);
	background-repeat: repeat-x;
	background-position:bottom;
	min-height: 200px;
	color: #fff;
}
#masthead-inner {
	background-image:url(../img/mast-2.png);
	background-repeat: no-repeat;
	background-position:top right;
	min-height: 200px;
}
#masthead-text {
	padding: 30px;
}
#masthead-text h1 {
	font-size: 30px;
}
#homeboxes {
	margin-top: 30px;
	margin-bottom: 30px;
}
.homebox>div img {
	width: 100%;
	height: auto;
}
.homebox-inner {
	padding: 15px;
}
.homebox-inner h2 {
	font-weight: bold;
	font-size: 30px;
	margin-top: 0;
	padding-top: 0;
}

#content h1 {
	font-size: 30px;
	color: #29abe1;
	border-bottom: 2px solid #ccc;
	font-weight: bold;
}

#content h1 span {
	border-bottom: 2px solid #29abe1;
	top: -2px;
    position: relative;
}
.sidebox {
	border: solid 1px #ccc;
}
.sidebox h2 {
	background-color: #29abe1;
	padding: 14px 15px;
	margin: 0;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.sidebox>div {
	padding: 15px;
}
.facilities-list {
	font-size: 16px;
	font-family: 'Scada', sans-serif;
	font-weight: bold;	
}
.facilities-list .fa-li {
	color: #29abe1;
	top: 0.75em;
}
.facilities-list li {
	padding: 10px 0;	
}
#footer {
	font-family: 'Scada', sans-serif;
	background-color: #29abe1;
	padding: 30px;
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer li {
	display: block;	
}