@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;	
}
h1, h2, h3, h4, h5, .btn {
	font-family: 'Scada', sans-serif;
}
.pink {
	background-color: #fa92e5;
	color: #fff;	
}
.orange {
	background-color: #ea9425;	
	color: #fff;	
}
.green {
	background-color: #14c44e;
	color: #fff;		
}
.green .btn {
	color: #14c44e;
}
.orange .btn {
	color: #ea9425;
}
.pink .btn {
	color: #fa92e5;
}
#masthead .btn {
	color: #2180a7;
}
.btn-default {
	border-radius: 0px;
	padding: 7px 15px;
	background: none;
	background-color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	text-shadow: none;	
	border: none;
}

#header {
	padding-top: 30px;	
	padding-bottom: 30px;	
}
#masthead {
	background-color: #3399cc;
	background-image:url(../img/mast-1.png);
	background-repeat: repeat-x;
	background-position:bottom;
	min-height: 200px;
	color: #fff;
}
#masthead-inner {
	background-image:url(../img/mast-2.png);
	background-repeat: no-repeat;
	background-position:top right;
	min-height: 200px;
}
#masthead-text {
	padding: 30px;
}
#masthead-text h1 {
	font-size: 30px;
}
#homeboxes {
	margin-top: 30px;
	margin-bottom: 30px;
}
.homebox>div img {
	width: 100%;
	height: auto;
}
.homebox-inner {
	padding: 15px;
}
.homebox-inner h2 {
	font-weight: bold;
	font-size: 30px;
	margin-top: 0;
	padding-top: 0;
}
#main {
	margin-bottom: 60px;
}
#content h1 {
	font-size: 30px;
	color: #29abe1;
	border-bottom: 2px solid #ccc;
	font-weight: bold;
}

#content h1 span {
	border-bottom: 2px solid #29abe1;
	top: -2px;
    position: relative;
}
.sidebox {
	border: solid 1px #ccc;
	margin-bottom: 30px;
}
.sidebox h2 {
	background-color: #29abe1;
	padding: 14px 15px;
	margin: 0;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.sidebox>div {
	padding: 15px;
}
.facilities-list {
	font-size: 16px;
	font-family: 'Scada', sans-serif;

}
.facilities-list .fa-li {
	color: #29abe1;
	top: 0.75em;
}
.facilities-list li {
	padding: 10px 0;	
}
#footer {
	font-family: 'Scada', sans-serif;
	background-color: #29abe1;
	padding: 30px;
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer li {
	display: block;	
}

/* Navbar */
.headerright {
	position: relative;
	min-height: 140px;
}
#nav {
	position:absolute;
	bottom: 0;
	right: 0;
}
.navbar {
	min-height: 0;
	margin-bottom: 0;
}
.navbar-default {
	background: none;
	border: none;
	box-shadow: none	
}
.navbar-brand, .navbar-nav>li>a {
	padding: 3px 0px;
	margin-left: 15px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: none;
	border-color: #2180a7;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	border-color: #2180a7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background: none;
	box-shadow: none;
	color: #2180a7;
	border-color: #2180a7;
}
/* Comments */
ol.commentlist { list-style:none; margin:0 0 1em; padding:0; text-indent:0; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment { border-bottom:1px dotted #666; padding:1em; }
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard { font:normal 16px georgia,times,serif; }
ol.commentlist li.comment div.vcard cite.fn { font-style:normal; }
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar { border:5px solid #ccc; float:right; margin:0 0 1em 1em; }
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta { font-size:9px; }
ol.commentlist li.comment div.comment-meta a { color:#ccc; }
ol.commentlist li.comment p { font-size:11px; margin:0 0 1em; }
ol.commentlist li.comment ul { font-size:11px; list-style:square; margin:0 0 1em 2em; }
ol.commentlist li.comment div.reply { font-size:11px; }
ol.commentlist li.comment div.reply a { font-weight:bold; }
ol.commentlist li.comment ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 { border-left:5px solid #555; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-3 { border-left:5px solid #999; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-4 { border-left:5px solid #bbb; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even { background:#fff; }
ol.commentlist li.odd { background:#f6f6f6; }
ol.commentlist li.parent { border-left:5px solid #111; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}